<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.content %>
</p>


<%= render 'comments/form' %> 