version: '3'

services:
    db:
        image: mysql:8.0.23
        environment:
            MYSQL_USER: mysqluser
            MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
            MYSQL_PASSWORD: ${DATABASE_PASSWORD}
            # 怪しい
        volumes:
            - ./db/mysql/volumes:/var/lib/mysql
        ports:
            - "3306:3306"


    web:
        image: nginx:1.16.1
        container_name: web
        build: ./nginx
        
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - ./public:/engidoor/public
            - .:/engidoor
        ports:
            - "80:80"
        depends_on:
            - app
        tty: true
        stdin_open: true

    app:
      container_name: app
      build: .
      command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s"
      volumes: 
            - .:/engidoor
            - gem_data:/usr/local/bundle
      ports: 
            - "3000:3000"
      depends_on: 
            - db


volumes:
  gem_data: