version: '3'

services:
    db:
        image: mysql:8.0.23
        user: "1000:50"
        environment:
            MYSQL_USER: mysqluser
            MYSQL_ROOT_PASSWORD: password
            MYSQL_PASSWORD: password
        command: --default-authentication-plugin=mysql_native_password && --innodb-use-native-aio=0  
        volumes:
            - ./db/mysql/volumes:/var/lib/mysql
        ports:
            - "3306:3306"

    #静的ファイルをnginxで処理
    web:
        image: nginx:1.16.1
        container_name: web
        build: ./nginx
        
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:delegated
            - ./public:/engidoor/public:delegated
            - .:/engidoor
        ports:
            - "80:80"
        depends_on:
            - app
        tty: true
        stdin_open: true

    app:
      container_name: app
      build: .
      command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s"
      volumes: 
            - .:/engidoor
            - gem_data:/usr/local/bundle
            - /engidoor/vendor
            - /engidoor/tmp
            - /engidoor/log
            - /engidoor/.git
      ports: 
            - "3000:3000"
      depends_on: 
            - db


volumes:
  gem_data: 
