/* form */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
  }
  
  input {
    height: auto !important;
  }

 .user-image{
    border-radius: 50%;  
    width:  180px;       
    height: 180px;     
    margin: 0 auto;  
  }

  .user_information{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .user_info{
    display: flex;
    flex-direction: column;
  }

  .info_inner{

    margin-right: 0;
    margin-left: 0;
  }