# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  ruby: circleci/ruby@1.1.3

#実行するjob
jobs:
#buildするjob
  build:
    #circleciの実行環境
    docker:
      - image: circleci/ruby:3.0.0-node-browsers-legacy
        environment:
          - RAILS_ENV: 'test'
          - DB_HOST: 127.0.0.1
          - DB_USERNAME: 'root'
          - MYSQL_PASSWORD: ''


      - image: circleci/mysql:8.0.23
        environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
          - MYSQL_ROOT_HOST: '%'
        command: --default-authentication-plugin=mysql_native_password
          

  #作業環境
    working_directory: ~/engidoor

    steps:
    #CI環境上の working_directory の値の場所にGitリポジトリをコピーする
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-

      - run:
          name: DB待ち
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 3m
      - run: gem install bundler:2.2.15
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: yarn install
      - run:
          name: webpackをインストール
          command: bundle exec bin/webpack

      

      - run: mv config/database.yml.ci config/database.yml
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load

      #- run:
          #name: Rubocop実行
          #command: bundle exec rubocop

      - run:
          name: Rspecでのテスト
          command: bundle exec rspec

  deploy:
    machine:
      enabled: true
    steps:
      - add_ssh_keys:
          fingerprints:
            - 1b:0d:86:29:5e:72:1e:48:29:08:7d:7b:3d:ad:13:3a
      - run: ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "/var/www/rails/engidoor/deploy-me.sh"

#workflows:
  #version: 2
  #deploy:
    #jobs:
      #- deploy:
          #filters:
            #branches:
              #only: master
      

