# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  ruby: circleci/ruby@1.1.3


jobs:
  build:
    #circleciの実行環境
    docker:
      - image: circleci/ruby:3.0.0-node-browsers-legacy
        environment:
          - RAILS_ENV: 'test'
          - DB_HOST: 127.0.0.1
          - DB_USERNAME: 'root'
          - MYSQL_PASSWORD: ''


      - image: circleci/mysql:8.0.23
        environment:
          - MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
          - MYSQL_ROOT_HOST: '%'
        command: --default-authentication-plugin=mysql_native_password
          

  #作業環境
    working_directory: ~/engidoor

    steps:
    #CI環境上の working_directory の値の場所にGitリポジトリをコピーする
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            - v1-dependencies-

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://127.0.0.1:3306 -timeout 3m
      - run: gem install bundler:2.2.15
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: yarn install
      - run:
          name: webpackをインストール
          command: bundle exec bin/webpack
      - run: mv config/database.yml.ci config/database.yml
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load
      - run:
          name: Rspecでのテスト
          command: bundle exec rspec

