<%= link_to comment_goods_path((comment.id)), method: :post, remote: true do %>
<p class="good-button"><i class="fas fa-heart unlike-btn" style="color: #e82a2a;"></i><span style="color: #e82a2a"><%= comment.goods.count %></span></p>
<% end %>