@import "bootstrap-sprockets";
@import "bootstrap";


/* 全体 */
body{
padding-top: 150px;
};

/* ヘッダー */
#logo{
    font-size: 2.0em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    
};

#logo:hover{
    text-decoration: none;
}

.btn-tag{
  display: inline-block;
  color: #6091d3;
  border: 1px solid #6091d3;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 8px;
}

.tags-frame {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.tags-frame li {
    margin: 0; 
    padding: 0;
}
.target{
    text-align: center;
    background-color: #6091d3;
}