@import "bootstrap-sprockets";
@import "bootstrap";


/* 全体 */
body{
padding-top: 150px;
};

/* ヘッダー */
#logo{
    font-size: 2.0em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    
};

#logo:hover{
    text-decoration: none;
}