/* form */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
  }
  
  input {
    height: auto !important;
  }

 .user-image{
    border-radius: 50%;  
    width:  180px;       
    height: 180px;       
  }
  